<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Express JS</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>

<nav>
    <a href="/" >Home</a>
    <a href="/about" >About Us</a>
    <a href="/services">Services</a>
    <a href="/contact" >Contact Us</a>
    <a href="/profile" class="active">Profile</a>
</nav>


<h1>Welcome Your Profile</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis, cum cupiditate dicta, molestias nobis quae quam quibusdam, repudiandae sunt temporibus vero! Animi architecto beatae consequatur deleniti deserunt dicta dolorem facere, impedit iure laborum neque nulla numquam quis, quo similique soluta, tempore vel? Consequuntur ea eligendi harum iure, quisquam saepe.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic magnam quis saepe ut. Alias aut dicta distinctio fugiat harum magni nam neque officia quam rem! Consectetur delectus dicta eius esse et in mollitia officia placeat, quia sapiente sequi sit tenetur.</p>

</body>
</html>